@font-face {
  font-family: InterLocal;
  src: url('fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900; 
  font-style: normal;
  font-display: swap;
}

body, body * {
  font-family: InterLocal, sans-serif;
  font-optical-sizing: auto;
}

button, input, select, textarea {
  font: inherit;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #262C36;
  color: #fff;
  min-width: 0;
}

body, button {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  min-width: 0;
}

button {
  cursor: pointer;
}


.app-container {
  background-color: #0D1117;
  height: 100%;
  width: 100%;
  /*max-width: 60vh;*/
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2vw 2vw 2vw;
  box-sizing: border-box;
  min-width: 0;
  /*visibility: hidden;*/
  
  /*justify-content: space-between*/
}

.progress {
  width: 100%;
  box-sizing: border-box;
  min-width: 0;
}
  
.progress-text {
  width: 100%;
  box-sizing: border-box;
  min-width: 0;
}

.question {
  width: 100%;
  box-sizing: border-box;
  min-width: 0;
}

.question-text {
  width: 100%;
  /*padding: 1%;*/
  /*height: 80px;*/
  background-color: #0D1117;
  /*border-radius: 12px;*/
  
  height: 25vw;
  font-size: 5vw;
  /*font-weight: 400;*/
  
  text-align: center;
  white-space: pre;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  /*word-break: break-word;*/
  box-sizing: border-box;
  min-width: 0;
}

.answers {
  padding: 0 0 0 0 ;
  width: 100%;
  display: flex;
  flex-direction: column;
  /*gap: 5px;*/
  gap: 1.5vw;
  box-sizing: border-box;
  min-width: 0;
}

.row {
  flex: 1;
  font-family: inherit;
  display: flex;
  /*gap: 5px;*/
  gap: 1.5vw;
  min-width: 0;
}

.answer-button-single {
  height: 10vw;
  font-size: 4vw;
  border-radius: 3vw;
  
  white-space: nowrap; 
  flex: 1;
  /*border-radius: 50vmax;*/
  /*border-radius: 12px;*/
  border: none;
  background-color: #262C36;
  color: #fff;
  
  cursor: pointer;
  word-break: break-word;
  min-width: 0;
}

.answer-button-multi {
  height: 10vw;
  font-size: 4vw;
  border-radius: 3vw;
  
  white-space: nowrap; 
  flex: 1;
  border: none;
  background-color: #262C36;
  color: #fff;
  cursor: pointer;
  word-break: break-word;
  min-width: 0;
}

/*v1*/
.answer-button-single.selected { 
  background-color: #198754; 
}
.answer-button-multi.selected { 
  background-color: #0d6efd; 
}

/*v1.1*/
.answer-button-single.selected { 
  background-color: #198754; 
}
.answer-button-multi.selected { 
  background-color: #0b5ed7; 
}

/*v1.1*/
/*
.answer-button-single.selected { 
  background-color: #FF7043; 
}
.answer-button-multi.selected { 
  background-color: #0b5ed7; 
}
*/
/*
v1.2
.answer-button.single-selected { 
  background-color: #198754; 
}
.answer-button.multi-selected { 
  background-color: #008080; 
}
*/


/*MS*/
/*
.answer-button.single-selected { 
  background-color: #107c10; 
}
.answer-button.multi-selected { 
  background-color: #0078d4; 
}
*/






/*
v2-active
.answer-button.single-selected { 
  background-color: #4CAF50; 
}
.answer-button.multi-selected { 
  background-color: #2196F3; 
}
*/

/*
v2-hover
.answer-button.single-selected { 
  background-color: #45A049; 
}
.answer-button.multi-selected { 
  background-color: #1976D2; 
}
*/

v2-disabled
/*
.answer-button.single-selected { 
  background-color: #A5D6A7; 
}
.answer-button.multi-selected { 
  background-color: #BBDEFB; 
}
*/


.answer-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.navigation {
  margin-top: auto;
  display: flex;
  width: 100%;
  background-color: #0D1117;
  box-sizing: border-box;
}

.nav-left, .nav-center, .nav-right {
  flex: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
}
  
/*
.nav-center {}
  
.nav-center-text {}  
*/

.back-button, .next-button {
  width: 100%;
  aspect-ratio: 1/1;
  font-size: 20px;
  border-radius: 4vw;
  border: none;
  background-color: #262C36;
  color: #fff;
  cursor: pointer;
  user-select: none;
}

.next-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
















