@font-face {
  font-family: InterLocal;
  src: url('fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900; 
  font-style: normal;
  font-display: swap;
}

/*
:root {
    font-size: 1vw;
}
*/

body, body * {
  font-family: InterLocal, sans-serif;
  font-optical-sizing: auto;
}

button, input, select, textarea {
  font: inherit;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #fff;
  min-width: 0;
}

body, button {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  min-width: 0;
}

button {
  cursor: pointer;
}


.app-container {
  background-color: #0D1117;
  height: 100%;
  width: 100%;
  max-width: 60vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 0 0;
  box-sizing: border-box;
  min-width: 0;
  container-type: size;
  /*visibility: hidden;*/
  /*justify-content: space-between*/
}

.progress {
  width: 100%;
  box-sizing: border-box;
  min-width: 0;
}
  
.progress-text {
  width: 100%;
  box-sizing: border-box;
  min-width: 0;
}

.question {
  width: 100%;
  box-sizing: border-box;
  min-width: 0;
}

.question-text {
  padding: 0 2cqw 0 2cqw;
  width: 100%;
  aspect-ratio: 7/1;
  /*padding: 1%;*/
  /*height: 80px;*/
  background-color: #0D1117;
  /*border-radius: 12px;*/
  
  /*height: 10cqw;*/
  font-size: min(5cqw, 30px);
  /*font-size: min(4cqw, 20px);*/
  /*font-weight: 400;*/
  
  text-align: center;
  white-space: pre;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  /*word-break: break-word;*/
  box-sizing: border-box;
  min-width: 0;
}

.answers {
  padding: 0 2cqw 0 2cqw;
  width: 100%;
  display: flex;
  flex-direction: column;
  /*gap: 5px;*/
  /*
  gap: 1.5cqw;
  gap: 1.3cqw;
  */
  gap: 0.9cqw;
  
  box-sizing: border-box;
  min-width: 0;
}

.row {
  flex: 1;
  font-family: inherit;
  display: flex;
  /*gap: 5px;*/
  gap: 0.9cqw;
  min-width: 0;
}

.hidden {
  display: none !important;  /* скрывает элемент */
  margin: 0 !important;      /* обнуляет внешние отступы */
  padding: 0 !important;     /* обнуляет внутренние отступы */
  gap: 0 !important;         /* если это flex-контейнер, убирает промежутки между элементами */
}


.answer-single {
  height: 10cqw;
  /*font-size: 4cqw;*/
  font-size: 4.0cqw;
  /*border-radius: 3cqw;*/
  border-radius: 1.0cqw;
  white-space: nowrap; 
  flex-grow: 1;        
  flex-shrink: 1;       
  flex-basis: auto; 
  /*flex: 1;*/
  /*border-radius: 50vmax;*/
  /*border-radius: 12px;*/
  border: none;
  color: #fff;
  cursor: pointer;
  word-break: break-word;
  min-width: 0;
}

.answer-single { background-color: #262C36; }
.answer-single.selected { background-color: #198754; }

.answer-single.level-1 { background-color: #262C36; }
.answer-single.level-1.active { background-color: #37404E; }
.answer-single.level-1.selected { background-color: #198754; }

.answer-single.level-2 { background-color: #37404E; }
.answer-single.level-2.active { background-color: #485466; }
.answer-single.level-2.selected { background-color: #198754; }

.answer-single.level-3 { background-color: #485466; }
.answer-single.level-3.active { background-color: #59687E; }
.answer-single.level-3.selected { background-color: #198754; }

.answer-single.level-4 { background-color: #59687E; }
.answer-single.level-4.selected { background-color: #198754; }



.answer-single { background-color: #262C36; }
.answer-single.selected { background-color: #198754; }

.answer-single.level-1 { background-color: #262C36; }
.answer-single.level-1.active { background-color: #263B46; }
.answer-single.level-1.selected { background-color: #198754; }

.answer-single.level-2 { background-color: #263B46; }
.answer-single.level-2.active { background-color: #23555A; }
.answer-single.level-2.selected { background-color: #198754; }

.answer-single.level-3 { background-color: #23555A; }
.answer-single.level-3.active { background-color: #1F6F60; }
.answer-single.level-3.selected { background-color: #198754; }

.answer-single.level-4 { background-color: #1F6F60; }
.answer-single.level-4.selected { background-color: #198754; }




.answer-single { background-color: #262C36; }
.answer-single.selected { background-color: #198754; }

.answer-single.level-1 { background-color: #262C36; }
.answer-single.level-1.active { background-color: #1E353D; }
.answer-single.level-1.selected { background-color: #198754; }

.answer-single.level-2 { background-color: #1E353D; }
.answer-single.level-2.active { background-color: #164541; }
.answer-single.level-2.selected { background-color: #198754; }

.answer-single.level-3 { background-color: #164541; }
.answer-single.level-3.active { background-color: #0E4D30; }
.answer-single.level-3.selected { background-color: #198754; }

.answer-single.level-4 { background-color: #0E4D30; }
.answer-single.level-4.selected { background-color: #198754; }


/*

.answer-single { background-color: #262C36; }
.answer-single.selected { background-color: #198754; }

.answer-single.level-1 { background-color: #262C36; }
.answer-single.level-1.active { background-color: #1A2940; }
.answer-single.level-1.selected { background-color: #198754; }

.answer-single.level-2 { background-color: #1A2940; }
.answer-single.level-2.active { background-color: #0F274B; }
.answer-single.level-2.selected { background-color: #198754; }

.answer-single.level-3 { background-color: #0F274B; }
.answer-single.level-3.active { background-color: #042556; }
.answer-single.level-3.selected { background-color: #198754; }

.answer-button.level-4 { background-color: #042556; }
.answer-single.level-4.selected { background-color: #198754; }
*/


.answer-multi {
  height: 10cqw;
  font-size: 4cqw;
  border-radius: 3cqw;
  white-space: nowrap; 
  flex: 1;
  border: none;
  background-color: #262C36;
  color: #fff;
  cursor: pointer;
  word-break: break-word;
  min-width: 0;
}

/*v1*/
.answer-single.selected { background-color: #198754; }
.answer-multi.selected { background-color: #0d6efd; }
/*v1.1*/
.answer-single.selected { background-color: #198754; }
.answer-multi.selected { background-color: #0b5ed7; }



/*v1.1*/
/*
.answer-button-single.selected { 
  background-color: #FF7043; 
}
.answer-button-multi.selected { 
  background-color: #0b5ed7; 
}
*/
/*
v1.2
.answer-button.single-selected { 
  background-color: #198754; 
}
.answer-button.multi-selected { 
  background-color: #008080; 
}
*/


/*MS*/
/*
.answer-button.single-selected { 
  background-color: #107c10; 
}
.answer-button.multi-selected { 
  background-color: #0078d4; 
}
*/






/*
v2-active
.answer-button.single-selected { 
  background-color: #4CAF50; 
}
.answer-button.multi-selected { 
  background-color: #2196F3; 
}
*/

/*
v2-hover
.answer-button.single-selected { 
  background-color: #45A049; 
}
.answer-button.multi-selected { 
  background-color: #1976D2; 
}
*/

/*
.answer-button.single-selected { 
  background-color: #A5D6A7; 
}
.answer-button.multi-selected { 
  background-color: #BBDEFB; 
}
*/


.answer-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.navigation {
  padding: 0 2cqw 2cqw 2cqw;
  margin-top: auto;
  display: flex;
  width: 100%;
  background-color: #0D1117;
  box-sizing: border-box;
}

.nav-left, .nav-center, .nav-right {
  flex: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
}
  
/*
.nav-center {}
  
.nav-center-text {}  
*/

.v-button, .hw-button, .ip-button {
  width: 100%;
  aspect-ratio: 4/1;
  font-size: min(4cqw, 20px);
  border-radius: 0;
  border: none;
  background-color: #0D1117;
  color: #fff;
  cursor: default;
  user-select: none;
}

.back-button, .next-button {
  width: 100%;
  aspect-ratio: 2/1;
  font-size: min(4cqw, 20px);
  border-radius: 4cqw;
  border: none;
  background-color: #262C36;
  color: #fff;
  cursor: pointer;
  user-select: none;
}

.next-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.wheel-wrapper {
  width: 200px;
  height: 240px; /* видимая зона */
  overflow: hidden;
  border: 1px solid #333;
  border-radius: 12px;
  position: relative;
}

.wheel-scroll {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wheel-item {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #999;
  user-select: none;
  transition: all 0.2s;
}

/* Активный элемент */
.wheel-item.active {
  color: #fff;
  font-weight: bold;
  transform: scale(1.2);
}

/* Линия подсветки центра */
.highlight-line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 40px;
  transform: translateY(-50%);
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  pointer-events: none;
}





